- name: Install Nginx
  package:
    name: nginx
    state: present

- name: Configure Nginx reverse proxy
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf

- name: Start Nginx
  service:
    name: nginx
    state: started
    enabled: yes
