- name: Disable SELinux (Amazon Linux / RHEL)
  selinux:
    state: disabled
  when: ansible_os_family == "RedHat"

- name: Stop firewalld (RHEL only)
  service:
    name: firewalld
    state: stopped
    enabled: false
  when: ansible_os_family == "RedHat"

- name: Stop UFW (Ubuntu only)
  service:
    name: ufw
    state: stopped
    enabled: false
  when: ansible_distribution == "Ubuntu"
